div.adso {
    display: flex;
    border-radius: 80%;
    font-size: 2rem;
    justify-content: center;
    height: 200px;
    width: 200px;
    align-items: center;
    background-color: #ffffff27;
    margin-inline: auto;
    text-align: center;
    }
div.adso:hover {
    cursor: pointer;
    animation: anim 1s ease-in infinite;
}
@keyframes anim {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}