extends inc/layout.pug

block title
    title 14 - Inheritance 
block content
    header 
        h1 14 - Inheritance 
        h2 Covers how to use inheritance to avoid code repetition.
    section
        h3 Lorem ipsum dolor.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, consectetur? Qui maiores cupiditate doloremque odio velit cumque voluptatem voluptate eaque.